header{
    height: 100px;
    background-color: teal;
    font-size: 10px;
}
.title{
    text-align: center;
}
.price_title{
    font-size: 35px;
    display: block;
    margin: 0 auto;
}